:root{
    --cor-hover: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu{
    display: flex;
    justify-content: end;
    gap: 16px;
    background-color: black;
    color: white;
    padding: 16px;
}

.menu li{
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 8px 16px;
    transition: 1s;
    border-radius: 10px;
}
.menu li:hover{
    background-color: var(--cor-hover);
}
.menu img{
    height: 16px;
}

.menu{
    background-color: black;
}
/*------------------------------------------------------------*/
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{

    height: 500px;
    width: 350px;
    border: 1px solid black;
}

.texto {
    
    justify-content: center;
    display: flex;
    font-size: 15px;
    border: solid black;
}

.descricao{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img{
    height: 100px;
    width: 100px;

}



