:root{
    --cor-hover: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu{
    display: flex;
    justify-content: end;
    gap: 16px;
    background-color: black;
    color: white;
    padding: 16px;
}

.menu li{
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 8px 16px;
    transition: 1s;
    border-radius: 10px;
}
.menu li:hover{
    background-color: var(--cor-hover);
}
.menu img{
    height: 25px;
}

.menu{
    background-color: black;
}
/*------------------------------------------------------------*/
.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.card{

    height: 500px;
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.texto {
    
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.descricao{
    font-size: 15px;
    width: 98%;
    color: black;
}

.imagem img{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: blue 0px 0px 5px;
}
.modificacoes{
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 300px;
    gap: 5px;
}

.valor{

    font-family: Arial, Helvetica, sans-serif;    
}

.subtitulo{
    font-size: 15px;
    color: black;
}

.carrinho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.carrinho h1{
    background-color: aqua;
}



